.resume {
    border: none;
    border-radius: .6rem;
    border: 1px solid #E17F13;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .resume span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #E17F13;
    color: black;
    border-radius: 20%;
    transition: .6s ease;
  }
  
  .resume span:nth-child(6) {
    position: relative;
  }
  
  .resume span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  .resume span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  .resume span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  .resume span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  .resume span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  .resume:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }
    